In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')

In [7]:
promedio_edad =df['Age'].mean()
promedio_edad

16.468645484949832

In [9]:
valores_nulos_por_columna =df.isnull().sum()

In [10]:
genero_mas_repetido =df['Gender'].mode()

In [18]:
hombres = (df['Gender']==0).sum()
hombres

1170

In [17]:
mujeres= (df['Gender']==1).sum()
mujeres

1222

In [14]:
df ['Gender']

0       1
1       0
2       0
3       1
4       1
       ..
2387    1
2388    0
2389    1
2390    1
2391    1
Name: Gender, Length: 2392, dtype: int64

In [21]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [24]:
practicantes = (df['Sports']==1).sum()

726

In [29]:
practicantes_genero = df.groupby ('Gender')['Sports'].sum()
practicantes_genero

Gender
0    360
1    366
Name: Sports, dtype: int64

In [30]:
Tutorados = (df['Tutoring']==1).sum()
Tutorados

721

In [32]:
Tutorados_Genero = df.groupby ('Gender')['Tutoring'].sum()
Tutorados_Genero

Gender
0    370
1    351
Name: Tutoring, dtype: int64

In [34]:
max = df['StudyTimeWeekly'].max()
max

19.97809399526153

In [35]:
min = df['StudyTimeWeekly'].min()
min

0.001056538645936